# Database
DB_HOST=localhost
DB_PORT=5432
DB_NAME=spaceeye
DB_USER=postgres
DB_PASSWORD=postgres

# FastAPI
DATABASE_URL=postgresql+asyncpg://postgres:postgres@localhost:5432/spaceeye
REDIS_URL=redis://localhost:6379/0
CORS_ORIGINS=["http://localhost:5173","http://localhost:4173","http://localhost:80"]

# Celery
CELERY_BROKER_URL=redis://localhost:6379/0
CELERY_RESULT_BACKEND=redis://localhost:6379/0

# INPE
email_inpe=seu_email_cadastrado@example.com

# Frontend
VITE_API_URL=http://localhost:8000/api
